ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #e0e0e0;
}

/*.main-nav-inline {*/
/*    display: inline-block;*/
/*    float: none;*/
/*}*/

ul li {
    display: block;
    position: relative;
    float: left;
    background: #e0e0e0;
}


/* This hides the dropdowns */


li ul { display: none; }

ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #333;
}

ul li .main-nav-link {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #333;
}

ul li a:hover { background: #2c3e50; color: #fff }

ul li .main-nav-link:hover {background: #2c3e50; color: #fff }

/* Display the dropdown */


li:hover > ul {
    display: block;
    position: absolute;
    /*width: 100%;*/
}

li:hover li { float: none; }

li:hover a { background: #e0e0e0; }
li:hover .main-nav-link { background: #e0e0e0; }

li:hover li a:hover { background: #2c3e50; }
li:hover li .main-nav-link:hover { background: #2c3e50; }

.main-navigation li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


ul ul ul {
    left: 100%;
    top: 0;
}

/* Simple clearfix */



ul:before,
ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul:after { clear: both; }